.btn{
	display: block;
	outline: none;
	height: 45px;
	line-height: 45px;
	border-radius: 8px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 0 34px;
	text-align: center;

	@include transition-duration(0.5s);
	&.btn-red{
		background: #e9573f;
		color: #fff;
		margin: 0 auto;
		&:hover{
			background: #d51e10;
			text-decoration: none;
		}
	}
	&.btn-white{
		background: transparent;
		border: 1px dotted #9799a8;
		color: $f_color_blue;
		float: right;
		padding: 0 28px;
		&:hover{
			background: #fff;
			color: #333366;
			border-style: solid;
		}
	}
}
