body{
	font-family: 'Roboto Condensed', sans-serif;
	p{
		font-size: 21px;
	}
	li{
		list-style: none;
	}
}


.top_menu{
	width: 100%;
	background: #313a75;
	position: absolute;
	top: 0;
	z-index: 888;
	.container{
		padding: 0;
		ul.nav.navbar-nav{
			padding: 0 20px;
			a{
				font-size: 16px;
				color: #fff;
			}
		}
	}
}
@media(min-width: 768px){
	.top_menu{
		height: 73px;
		position: static;
		ul.nav.navbar-nav{
			padding: 0 !important;
		}
	}
}

.second_page{
	padding-bottom: 70px;
	h1,h2,h3,h4,h5,h6{color: #313a75; font-weight: 400; margin-top: 0;}
	h1{font-size: 26px;font-weight: bold; margin: 0; text-transform: uppercase; line-height: 34px; }
	h2{font-size: 22px;}
	h3{font-size: 20px;}
	h4{font-size: 18px;}
	@media(min-width: 930px){
		h1{font-size: 30px; margin-bottom: 25px;}
		h2{font-size: 26px;}
		h3{font-size: 24px;}
		h4{font-size: 20px;}
		.container{padding-left: 0; padding-right: 0;}
	}
	p{
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		color: #282f38;
		line-height: 30px;
	}
	span.red{
		color: #e9573f;
	}
	button{
		margin: 0 !important;
	}
	
	.head{
		height: 165px;
		padding-top: 25px;
		border-bottom: 1px solid #9fa5c2;
		border-top: 1px solid #ebeff5;
		background: url('../images/s_second_bg.jpg');
		>div{
			
			@media(min-width: 930px){
				padding-left: 300px;
			}
		}
		.breads ul{
			margin: 0;
			padding: 0;
			li{
				float: left;
				a{
					font-size: 15px;
					color: #313a75;
					span{
						@include transition-duration(0.5s);
						border-bottom: 1px solid #313a75;
					}
					&:hover{
						text-decoration: none;
						span{
							border-color: transparent;
						}
					}
				}
				> span{
					padding: 0 8px;
					font-size: 15px;
					color: #313a75;
				}
			}
		}
	}
	.body{
		.left{
			width: 100%;
			float: left;
			@media(min-width: 768px){
				width: 240px;
			}
			@media(min-width: 930px){
				margin-top: -135px;
			}
			ul.left_menu{
				display: block;
				width: 100%;
				padding: 8px;
				background: #313a75;
				margin: 0 0 50px 0;
				
				>li{
					padding: 1px 0;
					border-bottom: 1px solid #666699;
					&:last-child{
						border: none;
					}
					a{
						display: block;
						line-height: 45px;
						padding-left: 8px;
						font-family: 'Roboto', sans-serif;
						font-size: 15px;
						color: #fff;
						@include transition-duration(0.5s);
						
						&.active,
						&:hover{
							background: #e9573f;
							text-decoration: none;
						}
					}
				}
			}
			.akciya{
				>div:last-child{
					background: #313a75;
					padding: 15px;
					position: relative;
					>div{
						display: inline-block;
						padding: 0 5px;
						background: #e9573f;
						font-size: 30px;
						font-family: 'Roboto', sans-serif;
						font-weight: bold;
						color: #fff;
						position: absolute;
						top: -36px;
						right: 0;
					}
					p{
						font-size: 15px;
						color: #fff;
						text-transform: uppercase;
						line-height: 22px;
						margin: 0;
					}
				}
			}
		}
		.right{
			padding-top: 40px;
			padding-bottom: 50px;
			@media(min-width: 768px){
				width: 460px;
				float: right;
			}
			@media(min-width: 930px){
				width: 660px;
			}
			.table-responsive.planinfo{
				margin-bottom: 50px;
				@media(min-width: 930px){
					overflow: visible;
				}
			}
			.planinfo > div{
				width: 660px; 
				height: 384px;
				background: url('../images/town.jpg');
				border: 1px solid #e9573f;
				box-shadow: inset 0 0 1px #fff;
				position: relative;
				.etaps > div{
					width: 76px;
					height: 76px;
					background: rgba(57,57,58,0.9);
					border-radius: 4px;
					font-family: 'Roboto', sans-serif;
					color: #fff;
					font-size: 18px;
					text-align: center;
					position: absolute;
					cursor: pointer;
					@include transition-duration(0.5s);
					&:hover, &.active{background: rgba(57,57,58,1);}
					span{
						display: block;
						font-size: 11px;
						&.s{
							color: #b0dd80;
						}
						&.e{
							color: #fc6e51
						}
						&.num{
							font-size: 30px;
							font-weight: bold;
							line-height: 30px;
						}
					}
					&.etap1{top: 50px; left: 550px;}
					&.etap2{top: 10px; left: 350px;}
					&.etap3{top: 180px; left: 480px;}
					&.etap4{top: 60px; left: 235px;}
					&.etap5{top: 212px; left: 190px;}
					&.etap6{top: 270px; left: 380px;}

					&.etap1 .pomosh{display: none; top: -78px; left: -200px;}
					&.etap2 .pomosh{display: none; top: -35px; left: -200px;}
					&.etap3 .pomosh{display: none; top: -210px; left: -200px;}
					&.etap4 .pomosh{display: none; top: -90px; left: -200px;}
					&.etap5 .pomosh{display: none; top: -240px; left: -200px;}
					&.etap6 .pomosh{display: none; top: -300px; left: -200px;}

					&.etap1 .pomosh:before{top: 100px; right: -27px;}
					&.etap2 .pomosh:before{top: 55px; right: -27px;}
					&.etap3 .pomosh:before{top: 230px; right: -27px;}
					&.etap4 .pomosh:before{top: 110px; right: -27px;}
					&.etap5 .pomosh:before{top: 260px; right: -27px;}
					&.etap6 .pomosh:before{top: 320px; right: -27px;}

					.pomosh{
						width: 200px;
						height: 440px;
						padding-top: 27px;
						background: #fff;
						border: 1px solid #666699;
						position: absolute;
						top: 0;
						z-index: 2;
						border-radius: 10px;
						&:before{
							display: block;
							content: '';
							border: 15px solid transparent;	
							border-left: 12px solid white;
							position: absolute;
						}
						a{
							display: block;
							padding-top: 90px;
							margin-bottom: 20px;
							font-size: 19px;
							font-weight: bold;
							color: #666699;
							text-transform: uppercase;
							position: relative;
							@include transition-duration(0.5s);
							&:before{
								display: block;
								content: '';
								width: 78px;
								height: 77px;
								position: absolute;
								top: 0;
								left: 50%;
								margin-left: -39px;
								background-image: url('../images/type_kv.jpg');
								
							}
							&:hover{
								text-decoration: none;
								color: #e9573f;
							}
						}
						
						@for $i from 0 through 2{
							> a:nth-child(#{$i+1}):before{
								background-position: -78px*$i -97px; 
							}
						}
					}
				}
			}
			.types{
				>div{padding: 0;}
				a{
					display: block;
					padding-top: 110px;
					font-size: 25px;
					font-weight: bold;
					color: #666699;
					text-transform: uppercase;
					position: relative;
					@include transition-duration(0.5s);
					&:before{
						display: block;
						content: '';
						width: 97px;
						height: 97px;
						margin-bottom: 5px;
						position: absolute;
						top: 0;
						background-image: url('../images/type_kv.jpg');
						
					}
					&:hover{
						text-decoration: none;
						color: #e9573f;
					}
				}
				@for $i from 0 through 2{
					> div:nth-child(#{$i+1}) > a:before{
						background-position: -97px*$i 0;
					}
				}
			}
			.plans{
				width: 465px;
				height: 519px;
				background: url('../images/plans.jpg');
				margin-bottom: 40px;
				position: relative;
				a{
					display: block;
					position: absolute;
					&.pl1{
						top: 0;
						left: 0;
						width: 200px;
						height: 200px;
					}
					&.pl2{
						top: 0;
						right: 0;
						width: 200px;
						height: 200px;
					}
				}
			}
			.buttons{
				margin-top: 25px;
				a{
					display: block;
					line-height: 33px;
					float: left;
					margin-right: 40px;
					font-size: 16px;
					font-family: 'Roboto', sans-serif;
					color: #666699;
					&:before{
						display: block;
						content: '';
						width: 32px;
						height: 33px;
						background-image: url('../images/cont_icons.png');
						float: left;
						margin-right: 15px;
					}
					&.plan:before{
						background-position: -32px 0;
					}
				}
			}
		}
	}
}