body {
  font-family: 'Roboto Condensed', sans-serif; }
  body p {
    font-size: 21px; }
  body li {
    list-style: none; }

.top_menu {
  width: 100%;
  background: #313a75;
  position: absolute;
  top: 0;
  z-index: 888; }
  .top_menu .container {
    padding: 0; }
    .top_menu .container ul.nav.navbar-nav {
      padding: 0 20px; }
      .top_menu .container ul.nav.navbar-nav a {
        font-size: 16px;
        color: #fff; }

@media (min-width: 768px) {
  .top_menu {
    height: 73px;
    position: static; }
    .top_menu ul.nav.navbar-nav {
      padding: 0 !important; } }

.second_page {
  padding-bottom: 70px; }
  .second_page h1, .second_page h2, .second_page h3, .second_page h4, .second_page h5, .second_page h6 {
    color: #313a75;
    font-weight: 400;
    margin-top: 0; }
  .second_page h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 34px; }
  .second_page h2 {
    font-size: 22px; }
  .second_page h3 {
    font-size: 20px; }
  .second_page h4 {
    font-size: 18px; }
  @media (min-width: 930px) {
    .second_page h1 {
      font-size: 30px;
      margin-bottom: 25px; }
    .second_page h2 {
      font-size: 26px; }
    .second_page h3 {
      font-size: 24px; }
    .second_page h4 {
      font-size: 20px; }
    .second_page .container {
      padding-left: 0;
      padding-right: 0; } }
  .second_page p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #282f38;
    line-height: 30px; }
  .second_page span.red {
    color: #e9573f; }
  .second_page button {
    margin: 0 !important; }
  .second_page .head {
    height: 165px;
    padding-top: 25px;
    border-bottom: 1px solid #9fa5c2;
    border-top: 1px solid #ebeff5;
    background: url("../images/s_second_bg.jpg"); }
    @media (min-width: 930px) {
      .second_page .head > div {
        padding-left: 300px; } }
    .second_page .head .breads ul {
      margin: 0;
      padding: 0; }
      .second_page .head .breads ul li {
        float: left; }
        .second_page .head .breads ul li a {
          font-size: 15px;
          color: #313a75; }
          .second_page .head .breads ul li a span {
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
            border-bottom: 1px solid #313a75; }
          .second_page .head .breads ul li a:hover {
            text-decoration: none; }
            .second_page .head .breads ul li a:hover span {
              border-color: transparent; }
        .second_page .head .breads ul li > span {
          padding: 0 8px;
          font-size: 15px;
          color: #313a75; }
  .second_page .body .left {
    width: 100%;
    float: left; }
    @media (min-width: 768px) {
      .second_page .body .left {
        width: 240px; } }
    @media (min-width: 930px) {
      .second_page .body .left {
        margin-top: -135px; } }
    .second_page .body .left ul.left_menu {
      display: block;
      width: 100%;
      padding: 8px;
      background: #313a75;
      margin: 0 0 50px 0; }
      .second_page .body .left ul.left_menu > li {
        padding: 1px 0;
        border-bottom: 1px solid #666699; }
        .second_page .body .left ul.left_menu > li:last-child {
          border: none; }
        .second_page .body .left ul.left_menu > li a {
          display: block;
          line-height: 45px;
          padding-left: 8px;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          color: #fff;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          transition-duration: 0.5s; }
          .second_page .body .left ul.left_menu > li a.active, .second_page .body .left ul.left_menu > li a:hover {
            background: #e9573f;
            text-decoration: none; }
    .second_page .body .left .akciya > div:last-child {
      background: #313a75;
      padding: 15px;
      position: relative; }
      .second_page .body .left .akciya > div:last-child > div {
        display: inline-block;
        padding: 0 5px;
        background: #e9573f;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: -36px;
        right: 0; }
      .second_page .body .left .akciya > div:last-child p {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        line-height: 22px;
        margin: 0; }
  .second_page .body .right {
    padding-top: 40px;
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .second_page .body .right {
        width: 460px;
        float: right; } }
    @media (min-width: 930px) {
      .second_page .body .right {
        width: 660px; } }
    .second_page .body .right .table-responsive.planinfo {
      margin-bottom: 50px; }
      @media (min-width: 930px) {
        .second_page .body .right .table-responsive.planinfo {
          overflow: visible; } }
    .second_page .body .right .planinfo > div {
      width: 660px;
      height: 384px;
      background: url("../images/town.jpg");
      border: 1px solid #e9573f;
      box-shadow: inset 0 0 1px #fff;
      position: relative; }
      .second_page .body .right .planinfo > div .etaps > div {
        width: 76px;
        height: 76px;
        background: rgba(57, 57, 58, 0.9);
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 18px;
        text-align: center;
        position: absolute;
        cursor: pointer;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
        .second_page .body .right .planinfo > div .etaps > div:hover, .second_page .body .right .planinfo > div .etaps > div.active {
          background: #39393a; }
        .second_page .body .right .planinfo > div .etaps > div span {
          display: block;
          font-size: 11px; }
          .second_page .body .right .planinfo > div .etaps > div span.s {
            color: #b0dd80; }
          .second_page .body .right .planinfo > div .etaps > div span.e {
            color: #fc6e51; }
          .second_page .body .right .planinfo > div .etaps > div span.num {
            font-size: 30px;
            font-weight: bold;
            line-height: 30px; }
        .second_page .body .right .planinfo > div .etaps > div.etap1 {
          top: 50px;
          left: 550px; }
        .second_page .body .right .planinfo > div .etaps > div.etap2 {
          top: 10px;
          left: 350px; }
        .second_page .body .right .planinfo > div .etaps > div.etap3 {
          top: 180px;
          left: 480px; }
        .second_page .body .right .planinfo > div .etaps > div.etap4 {
          top: 60px;
          left: 235px; }
        .second_page .body .right .planinfo > div .etaps > div.etap5 {
          top: 212px;
          left: 190px; }
        .second_page .body .right .planinfo > div .etaps > div.etap6 {
          top: 270px;
          left: 380px; }
        .second_page .body .right .planinfo > div .etaps > div.etap1 .pomosh {
          display: none;
          top: -78px;
          left: -200px; }
        .second_page .body .right .planinfo > div .etaps > div.etap2 .pomosh {
          display: none;
          top: -35px;
          left: -200px; }
        .second_page .body .right .planinfo > div .etaps > div.etap3 .pomosh {
          display: none;
          top: -210px;
          left: -200px; }
        .second_page .body .right .planinfo > div .etaps > div.etap4 .pomosh {
          display: none;
          top: -90px;
          left: -200px; }
        .second_page .body .right .planinfo > div .etaps > div.etap5 .pomosh {
          display: none;
          top: -240px;
          left: -200px; }
        .second_page .body .right .planinfo > div .etaps > div.etap6 .pomosh {
          display: none;
          top: -300px;
          left: -200px; }
        .second_page .body .right .planinfo > div .etaps > div.etap1 .pomosh:before {
          top: 100px;
          right: -27px; }
        .second_page .body .right .planinfo > div .etaps > div.etap2 .pomosh:before {
          top: 55px;
          right: -27px; }
        .second_page .body .right .planinfo > div .etaps > div.etap3 .pomosh:before {
          top: 230px;
          right: -27px; }
        .second_page .body .right .planinfo > div .etaps > div.etap4 .pomosh:before {
          top: 110px;
          right: -27px; }
        .second_page .body .right .planinfo > div .etaps > div.etap5 .pomosh:before {
          top: 260px;
          right: -27px; }
        .second_page .body .right .planinfo > div .etaps > div.etap6 .pomosh:before {
          top: 320px;
          right: -27px; }
        .second_page .body .right .planinfo > div .etaps > div .pomosh {
          width: 200px;
          height: 440px;
          padding-top: 27px;
          background: #fff;
          border: 1px solid #666699;
          position: absolute;
          top: 0;
          z-index: 2;
          border-radius: 10px; }
          .second_page .body .right .planinfo > div .etaps > div .pomosh:before {
            display: block;
            content: '';
            border: 15px solid transparent;
            border-left: 12px solid white;
            position: absolute; }
          .second_page .body .right .planinfo > div .etaps > div .pomosh a {
            display: block;
            padding-top: 90px;
            margin-bottom: 20px;
            font-size: 19px;
            font-weight: bold;
            color: #666699;
            text-transform: uppercase;
            position: relative;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s; }
            .second_page .body .right .planinfo > div .etaps > div .pomosh a:before {
              display: block;
              content: '';
              width: 78px;
              height: 77px;
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -39px;
              background-image: url("../images/type_kv.jpg"); }
            .second_page .body .right .planinfo > div .etaps > div .pomosh a:hover {
              text-decoration: none;
              color: #e9573f; }
          .second_page .body .right .planinfo > div .etaps > div .pomosh > a:nth-child(1):before {
            background-position: 0px -97px; }
          .second_page .body .right .planinfo > div .etaps > div .pomosh > a:nth-child(2):before {
            background-position: -78px -97px; }
          .second_page .body .right .planinfo > div .etaps > div .pomosh > a:nth-child(3):before {
            background-position: -156px -97px; }
    .second_page .body .right .types > div {
      padding: 0; }
    .second_page .body .right .types a {
      display: block;
      padding-top: 110px;
      font-size: 25px;
      font-weight: bold;
      color: #666699;
      text-transform: uppercase;
      position: relative;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .second_page .body .right .types a:before {
        display: block;
        content: '';
        width: 97px;
        height: 97px;
        margin-bottom: 5px;
        position: absolute;
        top: 0;
        background-image: url("../images/type_kv.jpg"); }
      .second_page .body .right .types a:hover {
        text-decoration: none;
        color: #e9573f; }
    .second_page .body .right .types > div:nth-child(1) > a:before {
      background-position: 0px 0; }
    .second_page .body .right .types > div:nth-child(2) > a:before {
      background-position: -97px 0; }
    .second_page .body .right .types > div:nth-child(3) > a:before {
      background-position: -194px 0; }
    .second_page .body .right .plans {
      width: 465px;
      height: 519px;
      background: url("../images/plans.jpg");
      margin-bottom: 40px;
      position: relative; }
      .second_page .body .right .plans a {
        display: block;
        position: absolute; }
        .second_page .body .right .plans a.pl1 {
          top: 0;
          left: 0;
          width: 200px;
          height: 200px; }
        .second_page .body .right .plans a.pl2 {
          top: 0;
          right: 0;
          width: 200px;
          height: 200px; }
    .second_page .body .right .buttons {
      margin-top: 25px; }
      .second_page .body .right .buttons a {
        display: block;
        line-height: 33px;
        float: left;
        margin-right: 40px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #666699; }
        .second_page .body .right .buttons a:before {
          display: block;
          content: '';
          width: 32px;
          height: 33px;
          background-image: url("../images/cont_icons.png");
          float: left;
          margin-right: 15px; }
        .second_page .body .right .buttons a.plan:before {
          background-position: -32px 0; }

.header {
  padding: 0;
  color: #656599;
  font-size: 17px;
  overflow: hidden; }
  .header > div {
    float: left; }
    .header > div.header-1 {
      width: 385px; }
    .header > div.header-2 {
      width: 100%; }
      @media (min-width: 768px) {
        .header > div.header-2 {
          width: 360px; } }
    .header > div.header-3 {
      width: 190px; }
  .header a.logo {
    float: left;
    margin: 6px 0 10px 20px; }
    .header a.logo + button {
      width: 80px;
      height: 100px;
      float: right;
      z-index: 999;
      background: #fff;
      position: absolute;
      right: 0; }
    @media (min-width: 768px) {
      .header a.logo {
        margin: 6px 0 0 0; } }
  .header .header-top-phones {
    display: block;
    margin: 0 0 15px 0;
    text-align: center; }
    .header .header-top-phones p {
      line-height: 26px;
      color: #717c8c;
      font-size: 17px;
      margin: 0; }
      .header .header-top-phones p span {
        font-size: 24px;
        color: #e9573f; }
    @media (min-width: 768px) {
      .header .header-top-phones {
        margin: 32px 0 0 0;
        padding: 0 0 0 66px;
        background: url("../images/top_phone.jpg") no-repeat;
        text-align: left; } }
  .header .header-contacts-link {
    display: block;
    margin-top: 30px;
    padding: 6px 0 0 70px;
    line-height: 23px;
    background: url("../images/top_contacts.jpg") no-repeat;
    text-transform: uppercase;
    color: #656599; }
    .header .header-contacts-link:hover {
      color: #333366;
      text-decoration: none; }
  @media (min-width: 768px) {
    .header {
      height: 115px; }
      .header .row {
        margin: 0 15px; } }

.footer {
  background-color: #424b7c;
  padding-top: 50px; }
  @media (min-width: 930px) {
    .footer {
      background: url("../images/footer_bg.jpg") no-repeat center center; } }
  .footer .footer-top .footer-phones p {
    font-size: 17px;
    line-height: 21px;
    color: #c5cae9;
    margin: 0;
    text-align: center; }
    @media (min-width: 930px) {
      .footer .footer-top .footer-phones p {
        text-align: left; } }
    .footer .footer-top .footer-phones p span {
      font-size: 24px; }
  .footer .footer-top .callback {
    margin: 27px auto; }
    @media (min-width: 930px) {
      .footer .footer-top .callback {
        margin: 0 auto; } }
  .footer .footer-top .toogle_menu {
    margin: 0 auto;
    float: none; }
    @media (min-width: 930px) {
      .footer .footer-top .toogle_menu {
        float: right; } }
    .footer .footer-top .toogle_menu > span:nth-child(1) {
      display: inline-block; }
    .footer .footer-top .toogle_menu > span:nth-child(2) {
      display: none; }
    .footer .footer-top .toogle_menu.closed > span:nth-child(1) {
      display: none; }
    .footer .footer-top .toogle_menu.closed > span:nth-child(2) {
      display: inline-block; }
  .footer ul {
    padding: 0; }
  .footer a {
    color: #fff;
    text-transform: uppercase;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .footer a:hover, .footer a.active {
      color: #fc6e51;
      text-decoration: none; }
  .footer .footer-menu {
    padding-top: 50px; }
    .footer .footer-menu .foot_menu_ul {
      padding: 0; }
      .footer .footer-menu .foot_menu_ul > li > a {
        display: block;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 25px; }
      .footer .footer-menu .foot_menu_ul ul {
        margin-bottom: 25px; }
      .footer .footer-menu .foot_menu_ul ul a {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 34px; }
  .footer .row.copy {
    margin-top: 20px; }
    .footer .row.copy p {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #c5cae9;
      text-transform: uppercase;
      text-align: center; }

.btn {
  display: block;
  outline: none;
  height: 45px;
  line-height: 45px;
  border-radius: 8px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0 34px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .btn.btn-red {
    background: #e9573f;
    color: #fff;
    margin: 0 auto; }
    .btn.btn-red:hover {
      background: #d51e10;
      text-decoration: none; }
  .btn.btn-white {
    background: transparent;
    border: 1px dotted #9799a8;
    color: #c5cae9;
    float: right;
    padding: 0 28px; }
    .btn.btn-white:hover {
      background: #fff;
      color: #333366;
      border-style: solid; }

.home_works {
  overflow: hidden; }
  .home_works .home-works-zag {
    text-align: center; }
    .home_works .home-works-zag a {
      font-size: 30px;
      font-weight: bold;
      color: #e9573f;
      text-transform: uppercase;
      line-height: 145px;
      position: relative; }
      @media (min-width: 960px) {
        .home_works .home-works-zag a {
          font-size: 48px;
          line-height: 174px; } }
      .home_works .home-works-zag a:hover {
        color: #333366; }
      .home_works .home-works-zag a:after {
        display: block;
        content: '';
        width: 30px;
        height: 3px;
        background: #e9573f;
        position: absolute;
        top: 105px;
        left: 50%;
        margin-left: -15px; }
        @media (min-width: 960px) {
          .home_works .home-works-zag a:after {
            top: 140px; } }
  .home_works .home-works-elem {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical; }
    .home_works .home-works-elem > div {
      height: 180px; }
    .home_works .home-works-elem:nth-child(2n+1) > div:first-child {
      background: #313a75;
      position: relative;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2; }
      .home_works .home-works-elem:nth-child(2n+1) > div:first-child:after {
        border-top: 22px solid #e9573f;
        top: 0; }
        @media (min-width: 500px) {
          .home_works .home-works-elem:nth-child(2n+1) > div:first-child:after {
            border-top: 30px solid #e9573f; } }
    .home_works .home-works-elem:nth-child(2n+2) > div:first-child {
      background: #e9573f;
      position: relative; }
      .home_works .home-works-elem:nth-child(2n+2) > div:first-child:after {
        border-bottom: 22px solid #313a75;
        bottom: 0; }
        @media (min-width: 500px) {
          .home_works .home-works-elem:nth-child(2n+2) > div:first-child:after {
            border-bottom: 30px solid #313a75; } }
    .home_works .home-works-elem > div:after {
      display: block;
      content: '';
      width: 0;
      border: 22px solid transparent;
      position: absolute;
      left: 50%;
      margin-left: -22px; }
      @media (min-width: 500px) {
        .home_works .home-works-elem > div:after {
          border: 30px solid transparent;
          margin-left: -30px; } }
  .home_works .home-works-elem > div:first-child div {
    height: 90px;
    margin-top: 20px;
    position: relative; }
    @media (min-width: 500px) {
      .home_works .home-works-elem > div:first-child div {
        margin-top: 50px; } }
    .home_works .home-works-elem > div:first-child div p {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .home_works .home-works-elem > div:last-child {
    overflow: hidden; }
  .home_works p {
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    line-height: 34px; }
  .home_works a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 3px 26px;
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .home_works a:hover {
      text-decoration: none;
      background: #fff;
      color: #333366; }
  @media (min-width: 500px) {
    .home_works .home-works-elem {
      width: 50%;
      float: left; }
    .home_works .home-works-elem > div {
      height: 238px; }
    .home_works p {
      font-size: 30px; }
    .home_works a {
      font-size: 18px; } }
  @media (min-width: 850px) {
    .home_works .home-works-elem {
      width: 25%; } }

.home_center {
  min-height: 1250px;
  background: url("../images/home_c_bg.jpg"); }
  .home_center .home-center-top {
    padding-top: 40px; }
    @media (min-width: 960px) {
      .home_center .home-center-top {
        padding-top: 60px;
        padding-bottom: 100px; } }
    .home_center .home-center-top .home-center-top-elem {
      padding: 0 20px;
      margin-bottom: 60px; }
      @media (min-width: 960px) {
        .home_center .home-center-top .home-center-top-elem {
          margin-bottom: 0;
          padding: 0; } }
      .home_center .home-center-top .home-center-top-elem .first {
        text-align: center; }
        @media (min-width: 960px) {
          .home_center .home-center-top .home-center-top-elem .first {
            text-align: left; } }
      .home_center .home-center-top .home-center-top-elem a {
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      .home_center .home-center-top .home-center-top-elem > a {
        display: block;
        padding-top: 100px;
        height: 200px;
        position: relative;
        font-weight: bold;
        font-size: 25px;
        color: #fff;
        text-transform: uppercase;
        text-align: center; }
        .home_center .home-center-top .home-center-top-elem > a:hover {
          color: #fc6e51;
          text-decoration: none; }
        .home_center .home-center-top .home-center-top-elem > a:before {
          display: block;
          content: '';
          width: 75px;
          height: 77px;
          background-image: url("../images/h_c_icons2.png");
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -35px; }
        @media (min-width: 960px) {
          .home_center .home-center-top .home-center-top-elem > a {
            text-align: left; }
          .home_center .home-center-top .home-center-top-elem > a:before {
            left: 0;
            margin-left: 0; } }
      .home_center .home-center-top .home-center-top-elem.plan div {
        background: url("../images/plan_bg.jpg");
        height: 235px;
        width: 265px;
        position: relative;
        padding-top: 160px;
        text-align: center;
        margin: 0 auto; }
        @media (min-width: 960px) {
          .home_center .home-center-top .home-center-top-elem.plan div {
            margin: 0; } }
        .home_center .home-center-top .home-center-top-elem.plan div a {
          display: inline-block;
          padding: 0 15px; }
    .home_center .home-center-top .row > div:nth-child(1) > a:before {
      background-position: 0px 0; }
    .home_center .home-center-top .row > div:nth-child(2) > a:before {
      background-position: -75px 0; }
    .home_center .home-center-top .row > div:nth-child(3) > a:before {
      background-position: -150px 0; }
  .home_center .home-center-bot .row > div {
    margin-bottom: 1px; }
  @media (min-width: 960px) {
    .home_center .home-center-bot .row {
      margin-bottom: 10px;
      display: flex; }
      .home_center .home-center-bot .row > div:first-child {
        margin-right: 10px; } }
  .home_center .home-center-bot .home-center-bot-elem {
    background: rgba(66, 75, 124, 0.55);
    padding: 37px; }
    .home_center .home-center-bot .home-center-bot-elem a.hb_zag {
      display: block;
      height: 92px;
      line-height: 34px;
      font-size: 25px;
      padding-left: 110px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 12px;
      position: relative;
      text-decoration: none;
      word-wrap: break-word;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      @media (min-width: 960px) {
        .home_center .home-center-bot .home-center-bot-elem a.hb_zag {
          padding-top: 14px; } }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag:before {
        display: block;
        content: '';
        width: 92px;
        height: 92px;
        background-image: url("../images/h_c_icons.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb1:before {
        background-position: 0 0px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb2:before {
        background-position: 0 -92px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb3:before {
        background-position: 0 -184px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb4:before {
        background-position: 0 -276px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag:hover {
        color: #fc6e51; }
    .home_center .home-center-bot .home-center-bot-elem p {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff; }
      @media (min-width: 960px) {
        .home_center .home-center-bot .home-center-bot-elem p {
          font-size: 16px; } }
  .home_center ul {
    padding: 0;
    margin: 0; }
    .home_center ul a {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #fc6e51; }
      .home_center ul a span {
        color: #fff;
        border-bottom: 1px solid #fff;
        line-height: 26px;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      .home_center ul a:hover {
        text-decoration: none; }
        .home_center ul a:hover span {
          color: #fc6e51;
          border-bottom: 1px solid #fc6e51; }

.slider {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative; }
  .slider .owl-carousel {
    height: 550px; }
    .slider .owl-carousel .item {
      height: 550px;
      background-size: cover; }
  .slider .line {
    width: 100%;
    height: 184px;
    padding-top: 70px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    z-index: 2; }
  .slider .punkts {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    padding: 0 10px; }
    .slider .punkts > .punkt_carousel {
      float: right;
      max-width: 100%; }
    .slider .punkts .owl-stage {
      width: 300px !important; }
      .slider .punkts .owl-stage .owl-item.active div.item {
        background: rgba(49, 58, 117, 0.9); }
    .slider .punkts div.item {
      display: block;
      position: relative;
      width: 300px;
      height: 184px;
      padding: 0 20px;
      background: rgba(233, 87, 63, 0.95);
      text-decoration: none;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .slider .punkts div.item > div {
        width: calc(100% - 40px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .slider .punkts div.item:last-child {
        border-bottom: none; }
      .slider .punkts div.item.active {
        background: rgba(49, 58, 117, 0.9); }
      .slider .punkts div.item:hover {
        background: #313a75; }
      .slider .punkts div.item p {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        line-height: 23px;
        margin: 0;
        letter-spacing: 0.35px; }
        .slider .punkts div.item p + p {
          font-family: 'Roboto', sans-serif; }
        .slider .punkts div.item p.zag {
          font-size: 19px;
          font-weight: bold; }
    .slider .punkts .buttons {
      position: absolute;
      bottom: 70px; }
      .slider .punkts .buttons a {
        width: 225px;
        float: left;
        margin-right: 30px;
        position: relative;
        z-index: 777; }
