//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;

  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }
}


// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
  overflow-x: visible;
  // padding-right: $navbar-padding-horizontal;
  // padding-left:  $navbar-padding-horizontal;
  @include clearfix;
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: $grid-float-breakpoint) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
}

// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

// .container,
// .container-fluid {
//   > .navbar-header,
//   > .navbar-collapse {
//     margin-right: -$navbar-padding-horizontal;
//     margin-left:  -$navbar-padding-horizontal;

//     @media (min-width: $grid-float-breakpoint) {
//       margin-right: 0;
//       margin-left:  0;
//     }
//   }
// }

// .navbar-static-top {
//   z-index: $zindex-navbar;
//   border-width: 0 0 1px;

//   @media (min-width: $grid-float-breakpoint) {
//     border-radius: 0;
//   }
// }

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 32px 10px 9px 10px;
  border: 1px solid transparent;
  &[aria-expanded=true]{
    padding: 9px 10px 9px 10px;
  }
  &[aria-expanded=true]:before{
    display: block;
    content: '';
    width: 49px;
    height: 49px;
    margin: 0 auto;
    background: url('../../images/menu_close_btn.png') no-repeat;
  }
  &[aria-expanded=true] span{
    display: none;
  }
  &:focus {
    outline: 0;
  }
  .icon-bar {
    display: block;
    width: 45px;
    height: 9px;
    border-radius: 10px;
    background: #4e5689;
    margin-left: auto;
    margin-right: auto;
  }
  span{
    font-size: 14px;
    color: #717c8c;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.navbar-nav {
  >li.active > a{
    padding-left: 15px;
  }
  > li > a {
    font-size: 14px;
    line-height: 46px;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      >li{
        height: 54px;
        border-bottom: 1px solid #666699;
        padding: 2px 0 1px 0;
      }
      > li > a {
        padding: 0;
        line-height: 50px;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
      > li.active a{
        padding-left: 10px;
      }
    }
  }
}

// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  padding-left: 45px;
  @include border-top-radius(0);
}

// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {

  .navbar-nav {
    > li > a {
      display: block;
      height: 46px;
      color: $navbar-default-link-color;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      &:hover,
      &:focus {
        // color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        // color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        // color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse{
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            // color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }

    @media (min-width: $grid-float-breakpoint-max){
      &{
        margin: 0;
      }
      > li{
        float: left;
      }
      > li > a{
        height: 73px;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        letter-spacing: 0.35px;
        padding: 0;
        &:hover{
          background: #666699;
        }
      }
      @for $i from 1 through 6{
        > li:nth-child(#{$i}) > a{
          @if($i==1){width: 80px;}
          @if($i==2){width: 120px;}
          @if($i==3){width: 160px;}
          @if($i==4){width: 145px;}
          @if($i==5){width: 120px;}
          @if($i==6){width: 125px;}
        }
      }

    }
    @media(min-width: 930px){
      @for $i from 1 through 6{
        > li:nth-child(#{$i}) > a{
          @if($i==1){width: 124px;}
          @if($i==2){width: 157px;}
          @if($i==3){width: 193px;}
          @if($i==4){width: 186px;}
          @if($i==5){width: 161px;}
          @if($i==6){width: 129px;}
        }
      }
    }

  }

}