.footer{
	background-color: #424b7c;
	padding-top: 50px;
	@media(min-width: 930px){
		&{
			background: url('../images/footer_bg.jpg') no-repeat center center;
		}
	}

	.footer-top{
		.footer-phones p{
			font-size: 17px;
			line-height: 21px;
			color: $f_color_blue;
			margin: 0;
			text-align: center;
			@media(min-width: 930px){
				text-align: left;
			}
			span{
				font-size: 24px;
			}
		}
		.callback{
			margin: 27px auto;
			@media(min-width: 930px){
				margin: 0 auto;
			}
		}
		.toogle_menu{
			margin: 0 auto;
			float: none;
			@media(min-width: 930px){
				float: right;
			}
			>span:nth-child(1){
				display: inline-block;
			}
			>span:nth-child(2){
				display: none;
			}
			&.closed{
				>span:nth-child(1){
					display: none;
				}
				>span:nth-child(2){
					display: inline-block;
				}
			}
			
		}
	}

	ul{
		padding: 0;
	}
	a{
		color: #fff;
		text-transform: uppercase;
		@include transition-duration(0.5s);

		&:hover, &.active{
			color: #fc6e51;
			text-decoration: none;
		}
	}
	.footer-menu{
		padding-top: 50px;
		.foot_menu_ul{
			padding: 0;
			> li > a{
				display: block;
				font-size: 25px;
				font-weight: bold;
				margin-bottom: 25px;
			}
			ul{
				margin-bottom: 25px;
			}
			ul a{
				display: block;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				line-height: 34px;
			}
		}
	}
	

	.row.copy{
		margin-top: 20px;
		p{
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			font-size: 12px;
			color: $f_color_blue;
			text-transform: uppercase;
			text-align: center;
		}
	} 
}