.header{
	padding: 0;
	color: $h_text_color;
	font-size: 17px;
	overflow: hidden;

	>div{
		float: left;
		&.header-1{
			width: 385px;
		}
		&.header-2{
			width: 100%;
			@media(min-width: 768px){
				width: 360px;
			}
		}
		&.header-3{
			width: 190px;
		}
		
	}

	a.logo{
		float: left;
		margin: 6px 0 10px 20px;
		& + button{
			width: 80px;
			height: 100px;
			float: right;
			z-index: 999;
			background: #fff;
			position: absolute;
			right: 0;			
		}
		@media(min-width: 768px){
			&{
				margin: 6px 0 0 0;
			}
		}
	}

	.header-top-phones{
		display: block;
		margin: 0 0 15px 0;
		text-align: center;
		p{
			line-height: 26px;
			color: #717c8c;
			font-size: 17px;
			margin: 0;
			span{
				font-size: 24px;
				color: #e9573f;
			}
		}
		@media(min-width: 768px){
			&{
				margin: 32px 0 0 0;
				padding: 0 0 0 66px;
				background: url('../images/top_phone.jpg') no-repeat;
				text-align: left;
			}
		}
	}
	.header-contacts-link{
		display: block;
		margin-top: 30px;
		padding: 6px 0 0 70px;
		line-height: 23px;
		background: url('../images/top_contacts.jpg') no-repeat;
		text-transform: uppercase;
		color: $h_text_color;
		&:hover{
			color: #333366;
			text-decoration: none;
		}
	}

	@media(min-width: 768px){
		&{
			height: 115px;
			.row{
				margin: 0 15px;
			}
		}
	}
}