.home_center{
	min-height: 1250px;
	background: url('../images/home_c_bg.jpg');

	.home-center-top{
		padding-top: 40px;
		@media(min-width: 960px){
			&{
				padding-top: 60px;
				padding-bottom: 100px;
			}
		}
		.home-center-top-elem{
			padding: 0 20px;
			margin-bottom: 60px;
			@media(min-width: 960px){
				&{
					margin-bottom: 0;
					padding: 0;
				}
			}
			.first{
				text-align: center;
				@media(min-width: 960px){
					&{
						text-align: left;
					}
				}
			}
			a{
				@include transition-duration(0.5s);
			}
			>a{
				display: block;
				padding-top: 100px;
				height: 200px;
				position: relative;
				font-weight: bold;
				font-size: 25px;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				&:hover{
					color: #fc6e51;
					text-decoration: none;
				}
				&:before{
					display: block;
					content: '';
					width: 75px;
					height: 77px;
					background-image: url('../images/h_c_icons2.png');
					position: absolute;
					top: 0;
					left: 50%;
    				margin-left: -35px;
				}
				@media(min-width: 960px){
					&{
						text-align: left;
					}
					&:before{
						left: 0;
						margin-left: 0;
					}
				}
			}
			&.plan div{
				background: url('../images/plan_bg.jpg');
				height: 235px;
				width: 265px;
				position: relative;
				padding-top: 160px;
				text-align: center;
				margin: 0 auto;
				@media(min-width: 960px){
					&{
						margin: 0;
					}
				}
				a{
					display: inline-block;
					padding: 0 15px;
				}

			}
		}
		@for $i from 0 through 2{
			.row > div:nth-child(#{$i+1}) > a:before{
				background-position: -75px*$i 0;
			}
		}
	}

	
	.home-center-bot{
		.row{
			>div{
				margin-bottom: 1px;
			}
			@media(min-width: 960px){
				&{
					margin-bottom: 10px;
					display: flex;
					>div:first-child{
						margin-right: 10px;
					}
				}
			}
		}
		.home-center-bot-elem{

			background: rgba(66,75,124,0.55);
			padding: 37px;

			a.hb_zag{
				display: block;
				height: 92px;
				line-height: 34px;
				font-size: 25px;
				
				padding-left: 110px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				
				margin-bottom: 12px;
				position: relative;
				text-decoration: none;
				word-wrap: break-word;
				@include transition-duration(0.5s);
				@media(min-width: 960px){
					&{
						padding-top: 14px;
					}
				}
				&:before{
					display: block;
					content: '';
					width: 92px;
					height: 92px;
					background-image: url('../images/h_c_icons.png');
					background-repeat: no-repeat;
					position: absolute;
					top: 0;
					left: 0;
				}
				@for $i from 0 through 3{
					&.hb#{$i+1}:before{
						background-position: 0 -92px*$i;
					}
				}
				&:hover{
					color: #fc6e51;
				}
				  
			}

			

			p{
				font-family: 'Roboto', sans-serif;
				font-weight: 500;
				font-size: 14px;
				color: #fff;
				@media(min-width: 960px){
					&{
						font-size: 16px;
					}
				}
			}
		}
	}

	ul{
		padding: 0;
		margin: 0;
		a{
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			font-size: 16px;
			color: #fc6e51;
			span{
				color: #fff;
				border-bottom: 1px solid #fff;
				line-height: 26px;
				@include transition-duration(0.5s);
			}
			&:hover{
				text-decoration: none;
				span{
					color: #fc6e51;
					border-bottom: 1px solid #fc6e51;
				}
			}
		}
	}
}