.slider{
	width: 100%;
	height: 550px;
	overflow: hidden;
	position: relative;
	.owl-carousel{
		height: 550px;
		.item{
			height: 550px;
			background-size: cover;
		}
	}
	.line{
		width: 100%;
		height: 184px;
		padding-top: 70px;
		background: rgba(255,255,255, 0.5);
		position: absolute;
		bottom: 0;
		z-index: 2;
		
	}
	.punkts{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 3;
		padding: 0 10px;
		>.punkt_carousel{
			float: right;
			max-width: 100%;
		}
		.owl-stage{
			width: 300px !important;
			.owl-item.active div.item{
				background: rgba(49,58,117,0.9);
			}
		}
		
		div.item{
			display: block;
			position: relative;
			width: 300px;
			height: 184px;
			padding: 0 20px;
			background: rgba(233,87,63,0.95);
			text-decoration: none;
			border-bottom: 1px solid #fff;
			cursor: pointer;
			@include transition-duration(0.5s);
			>div{
				width: calc(100% - 40px);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:last-child{
				border-bottom: none;
			}
			&.active{
				background: rgba(49,58,117,0.9);
			}
			&:hover{
				background: rgba(49,58,117,1);
			}
			p{
				font-size: 15px;
				color: #fff;
				text-transform: uppercase;
				line-height: 23px;
				margin: 0;
				letter-spacing: 0.35px;
				&+p{
					font-family: 'Roboto', sans-serif;
				}
				&.zag{
					font-size: 19px;
					font-weight: bold;
				}
			}
		}
		.buttons{
			position: absolute;
			bottom: 70px;
			a{
				width: 225px;
				float: left;
				margin-right: 30px;
				position: relative;
				z-index: 777;
			}
		}
	} 
}